{% load static %}
<!-- Collect the nav links, forms, and other content for toggling -->
<!--{{ perms }}-->
<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-university"></i> &nbsp; About Us &nbsp; <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/cms-agrakom/about-us/">About Us</a></li>
                <li><a href="/cms-agrakom/about-us/slider/">Slider</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-trophy"></i> &nbsp; Awards &nbsp; <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/cms-agrakom/awards/">Cover Galery</a></li>
                <!--<li><a href="/cms-agrakom/awards/detail/#">Detail Galery</a></li>-->
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar-check-o"></i> &nbsp; Event &nbsp; <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/cms-agrakom/event/">Cover Galery</a></li>
                <li><a href="/cms-agrakom/event/detail/">Detail Galery</a></li>
            </ul>
        </li>
        <!--<li><a href="/cms-agrakom/ourclients/"> <i class="fa fa-users"> </i> &nbsp; Our Clients</a></li>-->

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i> &nbsp;Who We Are &nbsp; <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <!--<li><a href="/cms-agrakom/ourservices/">Who We Are</a></li>-->
                <li><a href="/cms-agrakom/ourservices/detail/">Who We Are</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-newspaper-o"></i> &nbsp; Whatsnew &nbsp; <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/cms-agrakom/whatsnew/">Whatsnew</a></li>
                <li><a href="/cms-agrakom/whatsnew/detail/">Whatsnew Details</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> &nbsp; Master &nbsp; <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/cms-agrakom/user/">Admin</a></li>
                <li class="divider"></li>
                <li><a href="/cms-agrakom/role/">Role</a></li>
                <!--<li class="divider"></li>-->
                <!--<li><a href="/cms-agrakom/permission/">Permission</a></li>-->
            </ul>
        </li>
    </ul>

</div>
<!-- /.navbar-collapse -->
<!-- Navbar Right Menu -->
<div class="navbar-custom-menu">

    <ul class="nav navbar-nav">

        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- The user image in the navbar-->
                <img src="{% static 'cms/images/cms/user2-160x160.jpg' %}" class="user-image" alt="User Image">
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">{{request.user.username}}</span>
            </a>
            <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">
                    <img src="{% static 'cms/images/cms/user2-160x160.jpg' %}" class="img-circle" alt="User Image">

                    <p>
                        {{request.user.username}} - {{request.user.group.0.name}}
                        <small>Last Login : {{request.user.last_login}}</small>
                    </p>
                </li>

                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-right">
                        <a href="/cms-agrakom/auth/logout/" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>

</div>
<!-- /.navbar-custom-menu -->