{% extends 'cms/layout/base.html' %}

{% block content %}
{% load static %}
{% load templatetags %}


<!-- Full Width Column -->
<div class="content-wrapper">
    <div class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Role
                <small>List Role</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Role</a></li>
                <li class="active">List Role</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">

                    <div class="box">

                        <!-- /.box-header -->
                        <div class="box-body">
                            {% check_perms request.user.username 'group' action='add_group' as add_group %}
                            {% if add_group or request.user.username == 'adminagrakom' %}
                            <p class="pull-right" style="margin-left:10px;">
                                <a href="/cms-agrakom/role/add/" class="btn btn-block btn-primary">
                                    <i class="fa fa-user-plus"></i> Create New
                                </a>
                            </p>
                            {% endif %}


                            <table id="aboutus" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                <tr role="row">
                                    <th>No</th>
                                    <th>Role Name</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                            </table>


                        </div>

                    </div>

                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.content-wrapper -->

<script type="text/javascript">
        $(document).ready(function(){
          var Table = $('#aboutus').DataTable({
            autoWidth: true,
            processing: true,
            serverSide: true,
            order: [[0, 'desc']],
            Sort: true,
            columnDefs: [
              {
                targets: 'no-sort',
                orderable: false,
              }
            ],
            lengthMenu: [[10, 20, 30,40, 50, 100], [10, 20, 30, 40, 50, 100]],
            pageLength: 20,
            pagingType: "full_numbers",
            ajax: {
              url: "/cms-agrakom/role/get-list/",
              data: function ( d ) {
               return $.extend( {}, d, {
                 "filter_by": $('#filter_by').val(),
                 "search": $('#search').val(),
                 "status": $('input:radio[name=status]:checked').val(),
               });
              }
            },
            sDom: '<"pull-right"i><"top">rt<"bottom"<"pull-right-custom"p><"pull-left-custom"l><"clear">><"clear">',
          });

          $('#search').unbind();
          $('#search').bind('keyup', function(e) {
            if(e.keyCode == 13) {
              oTable.fnFilter(this.value);
            }
          })
           $('input:radio[name="status"]').bind('change', function(e){
             oTable.fnFilter();
          });

          function delete_user(id,user){
            if (confirm(`Are you sure want to delete this user : ${user} ?`)) {
              document.location.href = `/user/delete/?user_id=${id}`;
            } else {
              return false;
            }
          }
        });



</script>
{% endblock %}


