{% extends 'cms/layout/base.html' %}

{% block content %}

<!-- Full Width Column -->
<div class="content-wrapper">
    <div class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Event
                <small>add cover galery</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Awards Cover Galery</a></li>
                <li class="active">Add Cover Galery</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header ">
                            <!-- <h3 class="box-title">Product Form</h3> -->
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal" role="form" id="form_permission" method="post" action="/cms-agrakom/event/add/" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Title</label>
                                    <div class="col-sm-9">
                                        {{form.title}}
                                        <span class="help-block"></span>
                                        <span style="color:red">{{ form.errors.title|linebreaks }}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Descriptions</label>
                                    <div class="col-sm-9">
                                        {{form.description}}
                                        <span class="help-block"></span>
                                        <span style="color:red">{{ form.errors.description|linebreaks }}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Image</label>
                                    <div class="col-sm-9">
                                        {{form.image}}
                                        <span class="help-block"></span>
                                        {% if form.errors.image %}
                                            {% for err_image in form.errors.image %}
                                                <span style="color:red">{{ err_image|linebreaks }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-9" id="div_prev" style="margin-left:187px;border: 1px black;">
                                        <img id="prev_image" style="width:600px;height:400px;" src="/static/images/NoImageAvailable.jpg" alt="your image"/>
                                        <div><span style="color:red;font-weight:bold"> *) resolution : 600 x 400 Pixel</span></div>
                                    </div>
                                </div>
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-2 control-label">Position</label>-->
                                    <!--<div class="col-sm-9">-->
                                        <!--{{form.position}}-->
                                        <!--<span class="help-block"></span>-->
                                        <!--<span style="color:red">{{ form.errors.position|linebreaks }}</span>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status</label>
                                    {% for radio in form.status %}
                                    <label>
                                        <ul>
                                            {{ radio.tag }} {{ radio.choice_label }}
                                        </ul>
                                    </label>
                                    {% endfor %}
                                    <span class="help-block"></span>
                                    <span style="color:red">{{ form.errors.status }}</span>
                                </div>

                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <a href="/cms-agrakom/event/" class="btn btn-default">Cancel</a>
                                <button type="submit" class="btn btn-info pull-right" name="submit-role-menu">Submit</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.content-wrapper -->

{% endblock %}