{% extends 'frontend/layout/base.html' %}
{% load static %}

	{% block content %}
	<!-- Banner -->
	<div id="header-wrapper-portfolio" data-slide="home"></div>
	<!-- End Banner -->
	<!-- portfolio section -->
	<section id="portfoliopage">
		<div class="container">
			<div class="row">
				<!-- project description -->
				<div class="span12 text-center">
					<div>
						<h3 class="uppercase" style=""><strong>{{ detail.0.event_galery.title }}</strong></h3>
						<p>
							{{ detail.0.event_galery.description }}
						</p>
					</div>
				</div>
				<!-- end project description -->
				<!-- project slider -->
				<div id="projectslider">
					<div class="container project-slider">
				{% if detail.count %}
					{% for row in detail %}
						<div class="project text-center">
							<div class="mainan">
								<img class="absolut" src="/{{ row.image.url }}" alt="" style="padding-bottom:30px;"/>
							</div>
							<span class="aligncenter">
								{{ row.caption }}
							</span>
						</div>
					{% endfor %}
				{% endif %}
					</div>
				</div>
			</div>
		</div>
		<!-- portfolio navigation -->
		<div class="project-nav nav-bottom">
			<div class="container">
				<div class="row">
					<div class="span12 aligncenter">
						<a href="works"><i class="fa fa-th"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!-- end portfolio navigation -->
	</section>
	<!--End about section -->
	{% endblock %}

    {% include "frontend/layout/footer.html" %}