{% extends 'frontend/layout/base.html' %}
{% load templatetags %}
{% load static %}

	{% block content %}
	<!-- Banner -->
	<div id="header-wrapper">
		<header class="clearfix">
			<!-- Content slider -->
			<div class="container">
				<div class="row">
					<div class="span12">
						<div id="main-flexslider" class="flexslider"></div>
					</div>
				</div>
			</div>
			<!-- ENd content slider -->
		</header>
	</div>
	<div class="clearfix"></div>
	<!-- End Banner -->

	<!-- Abour section -->
	<section id="about" class="section">
		<!-- section heading -->
		<div class="container">
			<div class="heading">
				<h4 class="uppercase">Whats New</h4>
			</div>
		</div>
		<!-- end section heading -->
		<!-- about block -->
		<div id="info" class="section">
			<div class="container">
			{% if whatsnew.count > 0 %}
				<ul class="thumbnails">
				{% for row in whatsnew %}
					<li class="span4">
						<div class="thumbnail" style="background-color: #f1f1f1;">
							<img src="{{ row.image.url }}" alt="ALT NAME">
							<h3 class="entry-title" style="margin-top:10px;">
								<a href="/detail-whatsnew/{{ row.id }}/{% slug_url row.title %}" class="exp_tt">{{ row.title }}</a>
							</h3>
						</div>
					</li>
				{% endfor %}
				</ul>
			{% endif %}
			</div>
		</div>
	</section>
	<!--End about section -->

	<!--Team Section -->
	<section id="team" class="section">
		<div class="container">
			<!-- heading -->
			<div class="heading separators">
        		<h4 class="uppercase">Who We Are</h4>
			</div>
			<!-- End heading -->
			<!-- team block -->
			<div class="row exp_block">
				<!-- block-1 -->
				<div class="span3 flyIn">
					<a class="exp_tt">
						<img alt="Public Relation" class="face" src="{% static 'img/pr.jpg' %}">
						<div class="archive">
							<div id="content">
								<div class="post type-post status-publish format-standard hentry category-uncategorized entry">
									<div class="entry-content">
										<h2 class="entry-title text-center"><a href="#">Public Relationship</a></h2>
										<p class="text-center">As our main core business, we support all round Public Relations activities in media relations:
										Press Releases – Interviews – Press Briefings – Press Conference – Tele Video Conference – Story Pitch – Media Visit – Technology Updates – Media Seeding/Review – Media Coaching – Media Tracking – Translation<br>
										We do also support of General Consultancy services for Government Affairs and Public Affairs.</p>
									</div><!-- end .entry-content -->
								</div><!-- end .entry -->
							</div><!-- end #content -->
						</div><!-- end .archive -->
					</a>
				</div>
				<!-- block-2 -->
				<div class="span3 flyIn">
					<a class="exp_tt">
						<img alt="Marketing Services" class="face" src="{% static 'img/marketing.jpg' %}">
						<div class="archive">
							<div id="content">
								<div class="post type-post status-publish format-standard hentry category-uncategorized entry">
									<div class="entry-content">
										<h2 class="entry-title text-center"><a href="#">Media Monitoring</a></h2>
										<p class="text-center">As our main core business, we support all round Public Relations activities in media relations:
										Press Releases – Interviews – Press Briefings – Press Conference – Tele Video Conference – Story Pitch – Media Visit – Technology Updates – Media Seeding/Review – Media Coaching – Media Tracking – Translation <br>
										Monitoring for printing, online and electronic media.<br>
										Reporting, summarizing and analyzing media coverage.<br>
										Translation.<br>
										The final monitoring report will be prepared accordingly to our clients inquiries and needs.</p>
									</div><!-- end .entry-content -->
								</div><!-- end .entry -->
							</div><!-- end #content -->
						</div><!-- end .archive -->
					</a>
				</div>
				<!-- block-3 -->
				<div class="span3 flyIn">
					<a class="exp_tt">
						<img alt="Media Monitoring" class="face" src="{% static 'img/monitoring.jpg' %}">
						<div class="archive">
							<div id="content">
								<div class="post type-post status-publish format-standard hentry category-uncategorized entry">
									<div class="entry-content">
										<h2 class="entry-title text-center"><a href="#">Media Monitoring</a></h2>
										<p class="text-center">As our main core business, we support all round Public Relations activities in media relations:
										Press Releases – Interviews – Press Briefings – Press Conference – Tele Video Conference – Story Pitch – Media Visit – Technology Updates – Media Seeding/Review – Media Coaching – Media Tracking – Translation <br>
										Monitoring for printing, online and electronic media.<br>
										Reporting, summarizing and analyzing media coverage.<br>
										Translation.<br>
										The final monitoring report will be prepared accordingly to our clients inquiries and needs.</p>
									</div><!-- end .entry-content -->
								</div><!-- end .entry -->
							</div><!-- end #content -->
						</div><!-- end .archive -->
					</a>
				</div>
				<!-- block-4 -->
				<div class="span3 flyIn">
					<a class="exp_tt">
						<img alt="Social Media" class="face" src="{% static 'img/social-media.jpg' %}">
						<div class="archive">
							<div id="content">
								<div class="post type-post status-publish format-standard hentry category-uncategorized entry">
									<div class="entry-content">
										<h2 class="entry-title text-center"><a href="#">Social Media</a></h2>
										<p class="text-center">As the digital era is rapidly evolving before our eyes and in conjunction with our Public Relations program, we come with the latest service: Social Media. <br>
										Our dedicated and well-trained team will develop, manage, track and report our client’s social media activities on Facebook and Twitter, so the program will be executed with the right strategy and action.</p>
									</div><!-- end .entry-content -->
								</div><!-- end .entry -->
							</div><!-- end #content -->
						</div><!-- end .archive -->
					</a>
				</div>
			</div>
		</div>

		<section id="studio" class="section">
			<div class="heading separators">
				<h4 class="uppercase">Awards</h4>
			</div>
			<!--gallery slider -->
			<div class="studio">
				<div class="row">
					<div class="col-xs-12">
						<div id="swiper" class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{% static 'img/award.jpg' %}" alt="slider image 1" ></div>
								<div class="swiper-slide"><img src="{% static 'img/mix-best-agency-client.jpg' %}" alt="slider image 2"></div>
								<div class="swiper-slide"><img src="{% static 'img/mix-best-of-the-best.jpg' %}" alt="slider image 3"/></div>
								<div class="swiper-slide"><img src="{% static 'img/mix-best-service-agency.jpg' %}" alt="slider image 4"/></div>
								<div class="swiper-slide"><img src="{% static 'img/mix-best-team.jpg' %}" alt="slider image 5"/></div>
								<div class="swiper-slide"><img src="{% static 'img/mix-silver-winner.jpg' %}" alt="slider image 6"/></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--End gallery slider -->
		</section>
	</section>
	<!-- End team section -->

	<!-- section: services -->
	<section id="services" class="section">
		<div class="container">
			<!-- Heading -->
			<div class="heading separators">
				<h4 class="uppercase">Our Clients</h4>
			</div>
			<!-- Service block -->
			<div class="row">
				<div class="span3 animated-fast flyIn">
					<div class="service-box">
						<div class="iconface clearfix">
							<div class="num">
								<div class="bg-numero roda"></div>
								<div class="numero n20"><i class="fas fa-car"></i></div>
							</div>
						</div>
						<h2><a href="#automotive" data-reveal-id="service01">Automotive</a></h2>
					</div>
				</div>
				<div class="span3 animated-slow flyIn">
					<div class="service-box">
						<div class="iconface clearfix">
							<div class="num">
								<div class="bg-numero roda"></div>
								<div class="numero n20"><i class="fas fa-tv"></i></div>
							</div>
						</div>
						<h2><a href="#tv-channel" data-reveal-id="service02">TV Channel</a></h2>
					</div>
				</div>
				<div class="span3 animated-slow flyIn">
					<div class="service-box">
						<div class="iconface clearfix">
							<div class="num">
								<div class="bg-numero roda"></div>
								<div class="numero n20"><i class="fas fa-credit-card"></i></div>
							</div>
						</div>
						<h2><a href="#banking" data-reveal-id="service03">Banking</a></h2>
					</div>
				</div>
				<div class="span3 animated-fast flyIn">
					<div class="service-box">
						<div class="iconface clearfix">
							<div class="num">
								<div class="bg-numero roda"></div>
								<div class="numero n20"><i class="fas fa-plane"></i></div>
							</div>
						</div>
						<h2><a href="#airlines" data-reveal-id="service04">Airlines</a></h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span3 animated-slow flyIn">
					<div class="service-box">
						<div class="iconface clearfix">
							<div class="num">
								<div class="bg-numero roda"></div>
								<div class="numero n20"><i class="fas fa-lightbulb"></i></div>
							</div>
						</div>
						<h2><a href="#home-appliances" data-reveal-id="service05">Home Appliances</a></h2>
					</div>
				</div>
				<div class="span3 animated-slow flyIn">
					<div class="service-box">
						<div class="iconface clearfix">
							<div class="num">
								<div class="bg-numero roda"></div>
								<div class="numero n20"><i class="fas fa-stethoscope"></i></div>
							</div>
						</div>
						<h2><a href="#healthcare" data-reveal-id="service06">Healthcare</a></h2>
					</div>
				</div>
				<div class="span3 animated-slow flyIn">
					<div class="service-box">
						<div class="iconface clearfix">
							<div class="num">
								<div class="bg-numero roda"></div>
								<div class="numero n20"><i class="fas fa-wrench"></i></div>
							</div>
						</div>
						<h2><a href="#households" data-reveal-id="service07">Households</a></h2>
					</div>
				</div>
				<div class="span3 animated-slow flyIn">
					<div class="service-box">
						<div class="iconface clearfix">
							<div class="num">
								<div class="bg-numero roda"></div>
								<div class="numero n20"><i class="fa fa-sitemap"></i></div>
							</div>
						</div>
						<h2><a href="#networking" data-reveal-id="service08">Networking</a></h2>
					</div>
				</div>
				<div class="span3 animated-slow flyIn">
					<div class="service-box">
						<div class="iconface clearfix">
							<div class="num">
								<div class="bg-numero roda"></div>
								<div class="numero n20"><i class="fab fa-android"></i></div>
							</div>
						</div>
						<h2><a href="#it-product" data-reveal-id="service09">IT Product</a></h2>
					</div>
				</div>
				<div class="span3 animated-slow flyIn">
					<div class="service-box">
						<div class="iconface clearfix">
							<div class="num">
								<div class="bg-numero roda"></div>
								<div class="numero n20"><i class="fas fa-home"></i></div>
							</div>
						</div>
						<h2><a href="#property" data-reveal-id="service10">Property</a></h2>
					</div>
				</div>
				<div class="span3 animated-slow flyIn">
					<div class="service-box">
						<div class="iconface clearfix">
							<div class="num">
								<div class="bg-numero roda"></div>
								<div class="numero n20"><i class="fas fa-medkit"></i></div>
							</div>
						</div>
						<h2><a href="#pharmaceutical" data-reveal-id="service11">Pharmaceutical</a></h2>
					</div>
				</div>
				<div class="span3 animated-slow flyIn">
					<div class="service-box">
						<div class="iconface clearfix">
							<div class="num">
								<div class="bg-numero roda"></div>
								<div class="numero n20"><i class="fas fa-wifi"></i></div>
							</div>
						</div>
						<h2><a href="#telco-product" data-reveal-id="service12">Telco Product</a></h2>
					</div>
				</div>
				<div class="span3 animated-slow flyIn">
					<div class="service-box">
						<div class="iconface clearfix">
							<div class="num">
								<div class="bg-numero roda"></div>
								<div class="numero n20"><i class="fas fa-recycle"></i></div>
							</div>
						</div>
						<h2><a href="#consumer-products" data-reveal-id="service13">Consumer Products</a></h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End services section-->

	<!-- Work section -->
	<section id="works" class="section">
		<!-- Heading -->
		<div class="container separators">
			<div class="heading">
				<h4 class="uppercase">Events</h4>
			</div>
		</div>
		<div class="clearfix">
	{% if events.count > 0 %}
		{% for rowEvent in events %}
			<!-- portfolio item -->
			<div class="portfolio-item">
				<div class="portfolio clearfix">
					<a href="/detail-event/{{ rowEvent.id }}/{% slug_url rowEvent.title %}" class="portfolio-image">
						<img src="{{ rowEvent.image.url }}" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5 class="headingborder"><span>{{ rowEvent.title }}</span></h5>
							</div>
						</div>
					</a>
				</div>
			</div>
			<!-- end portfolio item -->
		{% endfor %}
	{% endif %}
		</div>
		<div class="clearfix"></div>
		<div class="clearfix"></div>
	</section>
	<!-- Work section -->
	{% endblock %}