{% load static %}
    <div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<!-- Responsive navbar -->
				<a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
				<!-- brand name -->
				<h1 class="brand"><a class="" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" width="100"></a></h1>
				<!-- Menu -->
				<nav class="pull-right nav-collapse collapse">
				{% if 'detail-' not in request.path %}
					<ul class="nav singlepage" id="menu-main">
						<li><a class="selected" href="#homepage" title="team">Home</a></li>
						<li><a class="" href="#about" title="whats new">Whats New</a></li>
						<!-- <li><a class="" href="#studio" title="awards">Awards</a></li> -->
						<li><a class="" href="#team" title="who we are">Services</a></li>
						<li><a class="" href="#services" title="clients">Clients</a></li>
						 <li><a class="" href="#works" title="highlight">Product Highlight</a></li>
						<li><a class="" href="#contact" title="contact">Contact</a></li>
					</ul>
				{% else %}
					<ul class="nav" id="menu-main">
						<li><a class="" href="{% url 'home' %}#homepage" title="team">Home</a></li>
						<li><a class="" href="{% url 'home' %}#about" title="whats new">Whats New</a></li>
						<!-- <li><a class="" href="#studio" title="awards">Awards</a></li> -->
						<li><a class="" href="{% url 'home' %}#team" title="who we are">Who We Are</a></li>
						<li><a class="" href="{% url 'home' %}#services" title="clients">Our Clients</a></li>
						<!-- <li><a class="" href="#works" title="events">Events</a></li> -->
						<li><a class="" href="{% url 'home' %}#contact" title="contact">Contact</a></li>
					</ul>
				{% endif %}
				</nav>
			</div>
		</div>
	</div>