/*::-moz-selection {
background:#e06d5e;
}
::selection {
background:#e06d5e;
}*/
.selected{border-bottom:5px solid #DA4C42}
ul#menu-main > li > a:hover{border-bottom: 5px solid #DA4C42;color: #DA4C42;}
strong{color:#DA4C42;}
#header-wrapper .scroll_btn:hover {background: url("../../img/05-scroll.gif") no-repeat scroll 50% 50% #DA4C42;}
.iconface .n2 {background: url("../../img/06-icon-bg5.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}
.iconface .n20{color:#DA4C42;}
.ch-info-wrap ,.ch-info > div{background:#DA4C42;}
.ch-item:hover .ch-info-wrap { box-shadow:0 0 0 20px #DA4C42, 0 0 3px rgba(115, 114, 23, 0.8) inset;-moz-box-shadow:0 0 0 20px #DA4C42, 0 0 3px rgba(115, 114, 23, 0.8) inset;webkit-box-shadow: 0 0 0 20px #DA4C42, 0 0 3px rgba(115, 114, 23, 0.8) inset;}
.skillbar-bar{background:#DA4C42;}
#services .iconface .bg-numero {
	background:#DA4C42;
	background-image: -ms-linear-gradient(-90deg, #DA4C42 25%, #dfdfdf 25%, #dfdfdf 50%, #dfdfdf 50%, #dfdfdf 75%, #DA4C42 75%, #DA4C42);
	background-image: -moz-linear-gradient(-90deg, #DA4C42 25%, #dfdfdf 25%, #dfdfdf 50%, #dfdfdf 50%, #dfdfdf 75%, #DA4C42 75%, #DA4C42);
	background-image: -webkit-linear-gradient(-90deg, #DA4C42 25%, #dfdfdf 25%, #dfdfdf 50%, #dfdfdf 50%, #dfdfdf 75%, #DA4C42 75%, #DA4C42);
    background-image: -o-linear-gradient(-90deg, #DA4C42 25%, #dfdfdf 25%, #dfdfdf 50%, #dfdfdf 50%, #dfdfdf 75%, #DA4C42 75%, #DA4C42);
	background-image: linear-gradient(-90deg, #DA4C42 25%, #dfdfdf 25%, #dfdfdf 50%, #dfdfdf 50%, #dfdfdf 75%, #DA4C42 75%, #DA4C42);
}
section#services .span3:hover {background:#DA4C42;}
.reveal-modal-bg {background:rgba(218,76,66,.8);}
.processLead-list li a i{color:#DA4C42;}
#pricing .price-plan .most-popular {background:#DA4C42;}
#pricing .price-plan .info ul li .free {background: #DA4C42;}
#filters ul li a:hover,#filters ul li a:focus {	border-bottom:5px solid #DA4C42;}
#filters ul li a:hover , #filters ul li a.active {color:#DA4C42;border-bottom:5px solid #DA4C42;}
.portfolio-overlay .thumb-info i {color: #DA4C42;}
#blogpage a:hover,#portfoliopage a:hover{color:#DA4C42;}
.blogtag a {border:1px solid #DA4C42;}
#tweet a{color:#DA4C42;}
#contact{background:#DA4C42;}
#contact-form input[type=submit] {color: #DA4C42;}
.sidecontact i{color:#DA4C42;}
i.icon-circled {background:#DA4C42;}



