/*::-moz-selection {
background:#e06d5e;
}
::selection {
background:#e06d5e;
}*/
.selected{border-bottom:5px solid #35BCD2}
ul#menu-main > li > a:hover{border-bottom: 5px solid #35BCD2;color: #35BCD2;}
strong{color:#35BCD2;}
#header-wrapper .scroll_btn:hover {background: url("../../img/05-scroll.gif") no-repeat scroll 50% 50% #35BCD2;}
.iconface .n2 {background: url("../../img/06-icon-bg10.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}
.iconface .n20{color:#35BCD2;}
.ch-info-wrap ,.ch-info > div{background:#35BCD2;}
.ch-item:hover .ch-info-wrap { box-shadow:0 0 0 20px #35BCD2, 0 0 3px rgba(115, 114, 23, 0.8) inset;-moz-box-shadow:0 0 0 20px #35BCD2, 0 0 3px rgba(115, 114, 23, 0.8) inset;webkit-box-shadow: 0 0 0 20px #35BCD2, 0 0 3px rgba(115, 114, 23, 0.8) inset;}
.skillbar-bar{background:#35BCD2;}
#services .iconface .bg-numero {
	background:#35BCD2;
	background-image: -ms-linear-gradient(-90deg, #35BCD2 25%, #dfdfdf 25%, #dfdfdf 50%, #dfdfdf 50%, #dfdfdf 75%, #35BCD2 75%, #35BCD2);
	background-image: -moz-linear-gradient(-90deg, #35BCD2 25%, #dfdfdf 25%, #dfdfdf 50%, #dfdfdf 50%, #dfdfdf 75%, #35BCD2 75%, #35BCD2);
	background-image: -webkit-linear-gradient(-90deg, #35BCD2 25%, #dfdfdf 25%, #dfdfdf 50%, #dfdfdf 50%, #dfdfdf 75%, #35BCD2 75%, #35BCD2);
    background-image: -o-linear-gradient(-90deg, #35BCD2 25%, #dfdfdf 25%, #dfdfdf 50%, #dfdfdf 50%, #dfdfdf 75%, #35BCD2 75%, #35BCD2);
	background-image: linear-gradient(-90deg, #35BCD2 25%, #dfdfdf 25%, #dfdfdf 50%, #dfdfdf 50%, #dfdfdf 75%, #35BCD2 75%, #35BCD2);
}
section#services .span3:hover {background:#35BCD2;}
.reveal-modal-bg {background:rgba(53,188,210,.8);}
.processLead-list li a i{color:#35BCD2;}
#pricing .price-plan .most-popular {background:#35BCD2;}
#pricing .price-plan .info ul li .free {background: #35BCD2;}
#filters ul li a:hover,#filters ul li a:focus {	border-bottom:5px solid #35BCD2;}
#filters ul li a:hover , #filters ul li a.active {color:#35BCD2;border-bottom:5px solid #35BCD2;}
.portfolio-overlay .thumb-info i {color: #35BCD2;}
#blogpage a:hover,#portfoliopage a:hover{color:#35BCD2;}
.blogtag a {border:1px solid #35BCD2;}
#tweet a{color:#35BCD2;}
#contact{background:#35BCD2;}
#contact-form input[type=submit] {color: #35BCD2;}
.sidecontact i{color:#35BCD2;}
i.icon-circled {background:#35BCD2;}



